extends layout

block content
  .container
    .row
      .col-md-6
        p
          | Welome to scraper administration. In here you can stop or start the
          | scraper job.
        p.alert.alert-warning
          strong Warning:
          |  Automatic fetching has not been enabled.
      .col-md-6
        form(method='POST', action='#{baseUrl}/fetch')
          button.btn.btn-success(type='submit') Fetch
      .col-md-6
        form(method='POST', action='#{baseUrl}/clean')
          button.btn.btn-success(type='submit') Remove duplicates
