extends layout

block content
  .container
    .row
      .col-md-12
        .list-group
          each entry in players
            a.list-group-item(href='/?player=' + encodeURIComponent(entry.name))= entry.name
